*{
    font-family: "微軟正黑體";
}
.main{
    overflow: hidden;
}
/* nav */
li{
    margin-right: 50px;
}
@media(max-width: 991px) {
   li{
    margin-top: 10px;
    margin-bottom: 10px;
    }
}
.navbar-brand img{
    width: 40px;
    height: 100%;
}
.justify-content-end{
    float: right;
}

.navbar {
    padding-left: 80px;
    padding-right: 80px;
    position: fixed;
    width: 100vw;
    background: none;
    z-index: 10;
}
@media(max-width: 576px) {
    .navbar{
    padding-left: 30px;
    padding-right: 30px;
    }
}
.navbar.active{
    background: #fff;
    box-shadow: 1px 1px 10px rgba(0,0,0,0.3);
    transition: 1s all;
}
.nav a{
    color: #7284AF;
}
.nav a:hover{
    color: red;
    transition: 1s all;
    text-decoration:none;
}
/* banner */
.banner{
    background-image: url(../images/banner-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 200px;
    padding-bottom: 350px;
    background-attachment: fixed;
}
@media(max-width: 414px) {
    .banner{
    padding-top: 100px;
    padding-bottom: 100px;
    }
}
.banner-logo img{
    width: 220px;
    height: auto;
    display: block;
    margin: 0 auto;
}
.banner h1{
    color: #464647;
    text-align: center;
    font-weight: 300;
    margin-top: 30px;
}
.banner h3{
    color: #464647;
    text-align: center;
    font-weight: 300;
    margin-top: 10px;
}
.banner h2{
    color: #7284AF;
    text-align: center;
    font-weight: 300;
    margin-top: 30px;
}
/* map */
.map img{
    width: 100%;
    height: 100%;
    max-width: auto;
    max-height: auto;
}
.mm img{
    width: 100%;
    height: 100%;
    max-width: auto;
    max-height: auto;
}
/* footer */
.footer{
    background: #282828;
    padding-top: 42px;
    padding-bottom: 42px;
}
@media(max-width: 1199px) {
    .footer{
     padding-bottom: 55px;
    }
}
@media(max-width: 495px) {
    .footer{
     padding-bottom: 64px;
    }
}
@media(max-width: 360px) {
    .footer{
     padding-bottom: 85px;
    }
}
.box{
    width: 493px;
    height: 247px;
    display: block;
    margin: 0 auto;
    padding: 30px;
}

.footer .col-sm h4{
    color: #909090;
    font-weight: 500;
}
.footer .col-sm h5{
    color: #909090;
    font-weight: 300;
}
.col-sm img{
    width: 100%;
    height: 100%;
    max-width: auto;
    max-height: auto;
}
@media(max-width: 575px) {
    .col-sm img{
    width: 40%;
    }
}
.i-1{
    float: center;
    margin-right: 10px;
}
.i-2{
    float: center;
    margin-left: 10px;
}
.copyright{
    text-align: center;
    display: block;
    margin: 0 auto;
    color: #909090;
}
@media(max-width: 575px) {
    .copyright{
    margin-top: 100px;
    }
}
.copyright img{
    width: 1.5%;
    height: 100%;
    max-width: auto;
    max-height: auto;
    margin-bottom: 5px;
}
@media(max-width: 414px) {
    .copyright img{
    width: 3.5%;
    }
}
.copyright p{
    float: left;
}
@media(max-width: 1199px) {
    .copyright p{
    margin-bottom: 0px;
    }
}
@media(max-width: 1024px) {
    .copyright p{
    font-size: 13px;
    }
}
@media(max-width: 768px) {
    .copyright p{
    font-size: 14px;
    margin-bottom: 0px;
    }
}